@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Open Sans", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans",
      "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans",
      "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.75;
    letter-spacing: 0.05vw;
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cpattern id='a' patternUnits='userSpaceOnUse' width='25' height='25' patternTransform='scale(0.75) rotate(0)'%3E%3Crect x='0' y='0' width='100%25' height='100%25' fill='hsla(236, 40%25, 21%25, 1)'/%3E%3Cpath d='M25 12.5l-8.828 3.672L12.5 25l-3.672-8.828L0 12.5l8.828-3.672L12.5 0l3.672 8.828L25 12.5' stroke-width='1' stroke='none' fill='hsla(236, 40%25, 20.5%25, 1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect width='800%25' height='800%25' transform='translate(0,0)' fill='url(%23a)'/%3E%3C/svg%3E");
  }

  .lazy-img {
    filter: blur(8px);
    transition: filter 0.3s ease-in;
  }
  
  .lazy-picture[data-loaded] .lazy-img {
    filter: unset;
  }

  .bar {
    position: relative;
  }

  .bar::after {
    content: "";
    position: absolute;
    bottom: -1.0rem;
    right: 0;
    width: 6rem;
    height: 0.33rem;
    @apply bg-brand-secondary;
  }

  p {
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 3rem 0 1.38rem;
    font-family: "Frente H1", serif;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: 0.075vw;
    text-transform: uppercase;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 5.58rem;
    font-size: 11.089rem;
    text-align: right;
    @apply bar;
    text-shadow: 5px 5px 0px var(--brand-secondary);
  }

  article h1 {
    text-shadow: 3px 3px 0px var(--brand-secondary);
  }

  h2 {
    font-size: 6.854rem;
    margin-bottom: 2.88rem;
    text-align: right;
    @apply bar;
  }

  h3 {
    font-size: 4.236rem;
  }

  h4 {
    font-size: 2.618rem;
  }

  h5 {
    font-size: 1.618rem;
  }

  small,
  .text_small {
    font-size: 0.618rem;
  }

  :where(header, main) a:not(.brand, .stretched, .badge) {
    @apply text-brand-secondary bg-no-repeat;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
                      linear-gradient(var(--brand-secondary), var(--brand-secondary));
    background-size: 100% 1px, 0 1px;
    background-position: 100% 100%, 0 100%;
    transition: background-size 0.3s linear, background-position 0.3s linear;
  }

  :where(header, main) a:not(.brand, .stretched, .badge):where(:hover, :focus-visible),
  li[aria-current="page"] a {
    background-size: 0 1px, 100% 1px;
    background-position: 100% 100%, 0 100%;
  }
}

@layer components {
  .basicLightbox {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    opacity: .01;
    transition: opacity .4s ease;
    z-index: 1000;
    will-change: opacity
  }
  
  .basicLightbox--visible {
    opacity: 1
  }
  
  .basicLightbox__placeholder {
    max-width: 100%;
    transform: scale(.9);
    transition: transform .4s ease;
    z-index: 1;
    will-change: transform
  }
  
  .basicLightbox__placeholder>iframe:first-child:last-child,
  .basicLightbox__placeholder>img:first-child:last-child,
  .basicLightbox__placeholder>video:first-child:last-child {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 95%;
    max-height: 95%
  }
  
  .basicLightbox__placeholder>iframe:first-child:last-child,
  .basicLightbox__placeholder>video:first-child:last-child {
    pointer-events: auto
  }
  
  .basicLightbox__placeholder>img:first-child:last-child,
  .basicLightbox__placeholder>video:first-child:last-child {
    width: auto;
    height: auto
  }
  
  .basicLightbox--iframe .basicLightbox__placeholder,
  .basicLightbox--img .basicLightbox__placeholder,
  .basicLightbox--video .basicLightbox__placeholder {
    width: 100%;
    height: 100%;
    pointer-events: none
  }
  
  .basicLightbox--visible .basicLightbox__placeholder {
    transform: scale(1)
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  .play {
    animation-play-state: running;
  }
}