---
layout: base.njk
title: Projects
permalink: /projects/all/
tags:
templateClass:
---

{% set heading = title %}
{% include "../_includes/header.njk" %}

<div class="container max-w-5xl my-24">
  <h2 class="w-fit mx-auto mb-24 diamonds bar bar--short">All Work<span class="dot"></span></h2>

  {% set projectslist = collections.allProjects %}
  {% include "projectslist-archive.njk" %}
</div>
