---
layout: base.njk
title: Projects
navtitle: Projects
permalink: /projects/
tags:
  - nav
order: 2
childnav: 'test'
children:
  featured:
    navtitle: Featured work
    permalink: /projects/
  all:
    navtitle: All work
    permalink: /projects/all/
templateClass:
---

{% set heading = title %}
{% include "../_includes/header.njk" %}

<div class="container my-24">
  <h2 class="w-fit mx-auto mb-24 diamonds bar bar--short">Featured Work<span class="dot"></span></h2>

  {% set projectslist = collections.allProjects | limit(4) %}
  {% include "projectslist.njk" %}

  <div class="text-center mt-8">
    <a class="text-xl" href="/projects/all/">See all work&thinsp;&#8594;</a>
  </div>
</div>
