<footer class="container mx-auto flex justify-between px-8 my-6">
    <span>© 2022 Holly Gallagher. All rights reserved.</span>
    <div class="flex gap-1">
        <a href="">Twitter</a>
        <a href="">Instagram</a>
        <a href="">YouTube</a>
    </div>
</footer>