{% set iconClasses = "h-7 w-7 transition-colors duration-300 fill-brand-text hover:fill-brand-link" %}

<footer class="bg-brand-primary text-brand-text">
    <div class="container py-5 flex justify-between items-center">
        <span>© {{ currentYear }} Holly Gallagher. All rights reserved.</span>
        <div class="flex gap-8">
            <a class="social" href="https://twitter.com/hollyrachael_" target="_blank" rel="noopener noreferrer">{% svg "icon-twitter", iconClasses, "Twitter" %}</a>
            <a class="social" href="https://www.youtube.com/channel/UC09znLuZy6eMJI0DbKEHC-Q" target="_blank" rel="noopener noreferrer">{% svg "icon-youtube", iconClasses, "YouTube" %}</a>
            <a class="social" href="/contact/">{% svg "icon-email", iconClasses, "Contact Holly" %}</a>
        </div>
    </div>
</footer>