<header class="container mx-auto flex justify-between items-center mt-3 mb-10">
    <span class="block font-display font-bold text-3xl tracking-wider"><a class="brand" href="{{ '/' | url }}">Holly Gallagher</a></span>
    <ul class="list-none flex gap-12">
        {%- for nav in collections.nav | sort(false, false, 'data.order') -%}
        <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}"{% if nav.url == page.url %} aria-current="page"{% endif %}><a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a></li>
        {%- endfor -%}
    </ul>
</header>