<ol class="">
{% for post in postslist %}
  {% set currentPost = post.data.post %}
  <li class="">
    <a href="{{ post.url | url }}" class="">{% if currentPost.title %}{{ currentPost.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time class="" datetime="{{ currentPost.publishedAt }}">{{ currentPost.publishedAt|readableDate }}</time>
  </li>
{% endfor %}
</ol>
