<div class="grid md:grid-cols-2 gap-x-14 gap-y-24">
  {% for post in postslist %}
    {% set currentPost = post.data.post or post %}
    <div class="relative flex flex-col justify-start items-center text-center">
      <div class="absolute -top-8  p-3 rounded-full bg-body-bg outline-1 -outline-offset-4 outline-brand-link outline">
        {% svg "star", "w-9 h-9 text-brand-link" %}
      </div>
      {% if currentPost.mainImage.asset %}
      <a class="w-full stretched bg-brand-primary" href="/updates/{{ currentPost.slug.current }}">
        <img class="w-full outline outline-brand-primary outline-[1rem] -outline-offset-[1rem]" src="{% croppedUrlFor currentPost.mainImage, 400, 300 %}" alt="{{ currentPost.mainImage.alt }}">
      </a>
      {% endif %}
      <div class="w-full bg-brand-primary text-brand-text pb-8 px-2 flex-grow {% if not currentPost.mainImage.asset %}flex flex-col justify-center{% endif %}">
        <div class="font-light text-sm mt-4">
          {% for category in currentPost.categories %}
            <a class="" href="/updates/{{ category.slug }}">{{ category.title }}</a>{% if not loop.last %} / {% endif %}
          {% endfor %}
        </div>
        <div class="mt-3">
          <a href="/updates/{{ currentPost.slug.current }}" class="font-display font-bold text-3xl tracking-wider">
            {{ currentPost.title }}
          </a>
        </div>
        <time class="block font-light text-sm mt-3" datetime="{{ currentPost.publishedAt }}">{{ currentPost.publishedAt | readableDate }}</time>
      </div>
    </div>
  {% endfor %}
</div>