<div class="container flex flex-col md:flex-row justify-evenly gap-24 pb-32">
  {% for project in projectslist %}
    {% set currentProject = project.data.project %}
    <div class="relative flex justify-center">
      {% if loop.index == 1 %}
        {% svg "cat", "absolute h-48 -left-40 bottom-0 text-brand-primary -z-10" %}
        {% svg "squiggle", "absolute h-10 -rotate-[50deg] bottom-60 -left-40 z-10 text-brand-link" %}
      {% elseif loop.index == 2 %}
        {% svg "butterfly", "absolute h-96 -right-32 md:-right-32 md:-top-32 text-brand-primary -z-10" %}
        {% svg "star", "absolute w-10 h-10 -top-16 md:top-24 right-0 md:right-0 z-10 text-brand-link" %}
      {% elseif loop.index == 3 %}
        {% svg "leaf", "absolute h-60 -right-32 md:-right-44 md:bottom-32 -rotate-[20deg] text-brand-primary -z-10" %}
        {% svg "bolt", "absolute h-24 -right-32 md:-right-44 bottom-50 md:bottom-20 z-10 text-brand-link" %}
      {% endif %}
      <a class="stretched group" href="{{ project.url | url }}">
        <div class="h-[650px] aspect-[1/1.5] rounded-[15rem] bg-no-repeat bg-cover bg-center outline-2 outline-offset-8 outline-brand-link outline-double" style="{% if currentProject.mainImage.asset %}background-image: url('{% imageUrlFor currentProject.mainImage.asset, 900 %}');{% endif %}">
          <div class="w-full h-full rounded-[15rem] bg-brand-primary text-brand-text flex flex-col items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity">
            <div class="font-light text-sm">
              {% if currentProject.categories %}
                {% for category in currentProject.categories | limit(3) %}
                  {{ category.title }}{% if not loop.last %} / {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <h3 class="mt-4">{{ currentProject.title }}</h3>
            {% if currentProject.excerpt %}
              <div class="px-8 text-center text-base">
                {{ currentProject.excerpt | markdownify | safe }}
              </div>
            {% endif %}
          </div>
          <div class="absolute aspect-square -bottom-14 left-1/2 -translate-x-1/2 p-8 md:p-12 bg-brand-link text-black outline-1 outline-offset-4 outline-brand-link outline-double rounded-full">
              <svg viewBox="0 0 100 100" style="width: 90%; height: 90%; top: 5%; left: 5%" class="absolute motion-safe:animate-spin-slow motion-safe:pause motion-safe:hover:play">
                  <defs>
                      <path id="circle"
                      d="
                          M 50, 50
                          m -37, 0
                          a 37,37 0 1,1 74,0
                          a 37,37 0 1,1 -74,0"/>
                  </defs>
                  <text class="text-xs uppercase" letter-spacing="0.5">
                      <textPath xlink:href="#circle">
                      View Project&nbsp;&nbsp;&nbsp;&bullet;&nbsp;&nbsp;&nbspView Project&nbsp;&nbsp;&nbsp;&bullet;&nbsp;&nbsp&nbsp;
                      </textPath>
                  </text>
              </svg>
              <span class="text-3xl md:text-5xl align-super block h-0 leading-[0.75!important]">&#8594;</span>
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
