{% if projectslist.length > 3 %}
  <div class="embla overflow-hidden mb-32">
    <button class="embla__prev aspect-square p-8 bg-brand-secondary text-black rounded-full" aria-label="Previous slide">
      <span class="inline-block text-6xl align-[-1rem] h-0 leading-[0]">&#8592;</span>
    </button>
    <button class="embla__next aspect-square p-8 bg-brand-secondary text-black rounded-full ml-6" aria-label="Next slide">
      <span class="inline-block text-6xl align-[-1rem] h-0 leading-[0]">&#8594;</span>
    </button>
    <div class="embla__viewport mt-16">
      <div class="grid grid-rows-1 grid-cols-3 gap-8">
        {% for project in projectslist %}
          {% set currentProject = project.data.project %}
          <div class="relative flex justify-center mb-12">
            <svg
              class="absolute left-1/2 top-1/2 aspect-[1/1.5] -translate-x-1/2 -translate-y-1/2 overflow-visible"
              height="540"
              viewBox="0 0 400 600">
              <defs>
                <path
                  id="ellipse"
                  d="M400 300C400 465.685 310.457 600 200 600C89.5431 600 0 465.685 0 300C0 134.315 89.5431 0 200 0C310.457 0 400 134.315
                    400 300Z"/>
              </defs>
              <text class="text-3xl tracking-wider fill-brand-secondary">
                {% if currentProject.categories %}
                <textPath alignment-baseline="top" startOffset="0%" text-anchor="start" xlink:href="#ellipse">
                  {% for category in currentProject.categories | limit(3) %}
                    <a href="javascript:;" data-filter="{{ category.title }}">{{ category.title }}</a>{% if not loop.last %}&nbsp;&bullet;&nbsp;{% endif %}
                  {% endfor %}
                </textPath>
                {% endif %}
                <textPath alignment-baseline="top" startOffset="50%" text-anchor="start" xlink:href="#ellipse">
                  <a class="fill-brand-secondary" href="{{ project.url | url }}">{{ currentProject.title }}</a>
                </textPath>
              </text>
            </svg>
            <a class="stretched" href="{{ project.url | url }}">
              <div class="h-[500px] aspect-[1/1.5] bg-no-repeat bg-cover bg-center" style="{% if currentProject.mainImage.asset %}background-image: url('{% imageUrlFor currentProject.mainImage.asset, 900 %}'); clip-path: url(#ellipse-clip){% endif %}"></div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% else %}
  <div class="container mx-auto flex justify-evenly gap-24 mt-32 mb-32">
    {% for project in projectslist %}
      {% set currentProject = project.data.project %}
      <div class="relative flex justify-center mb-12">
        <svg
          class="absolute left-1/2 top-1/2 aspect-[1/1.5] -translate-x-1/2 -translate-y-1/2 overflow-visible"
          height="540"
          viewBox="0 0 400 600">
          <defs>
            <path
              id="ellipse"
              d="M400 300C400 465.685 310.457 600 200 600C89.5431 600 0 465.685 0 300C0 134.315 89.5431 0 200 0C310.457 0 400 134.315
                400 300Z"/>
          </defs>
          <text class="text-3xl tracking-wider fill-brand-secondary">
            {% if currentProject.categories %}
            <textPath alignment-baseline="top" startOffset="0%" text-anchor="start" xlink:href="#ellipse">
              {% for category in currentProject.categories | limit(3) %}
                <a href="javascript:;" data-filter="{{ category.title }}">{{ category.title }}</a>{% if not loop.last %}&nbsp;&bullet;&nbsp;{% endif %}
              {% endfor %}
            </textPath>
            {% endif %}
            <textPath alignment-baseline="top" startOffset="50%" text-anchor="start" xlink:href="#ellipse">
              <a class="fill-brand-secondary" href="{{ project.url | url }}">{{ currentProject.title }}</a>
            </textPath>
          </text>
        </svg>
        <a class="stretched" href="{{ project.url | url }}">
          <div class="h-[500px] aspect-[1/1.5] bg-no-repeat bg-cover bg-center" style="{% if currentProject.mainImage.asset %}background-image: url('{% imageUrlFor currentProject.mainImage.asset, 900 %}'); clip-path: url(#ellipse-clip){% endif %}"></div>
        </a>
      </div>
    {% endfor %}
  </div>
{% endif %}

<svg width="0" height="0">
  <defs>
    <clipPath id="ellipse-clip" clipPathUnits="objectBoundingBox">
      <path d="M1,0.5 A0.5,0.5,0,0,1,0.5,1 A0.5,0.5,0,0,1,0,0.5 A0.5,0.5,0,0,1,0.5,0 A0.5,0.5,0,0,1,1,0.5"></path>
    </clipPath>
  </defs>
</svg>

{% if projectslist.length > 3 %}
  {% set carouselScript %}
  {% include "scripts/embla-carousel.umd.js" %}
  {% endset %}

  <script>{{ carouselScript | safe }}</script>

  <script type="text/javascript">
    const rootNode = document.querySelector('.embla')
    const viewportNode = rootNode.querySelector('.embla__viewport')
    const prevButtonNode = rootNode.querySelector('.embla__prev')
    const nextButtonNode = rootNode.querySelector('.embla__next')
    const embla = EmblaCarousel(viewportNode, {
      loop: true,
      startIndex: 1
    })
    prevButtonNode.addEventListener('click', embla.scrollPrev, false)
    nextButtonNode.addEventListener('click', embla.scrollNext, false)
  </script>
{% endif %}