---
layout: base.njk
navtitle: Archive
permalink: /updates/archive/
templateClass: mt-10 mb-10
---

<div class="container mx-auto px-8">
  <h1>Archive</h1>

  {% set postslist = collections.myPosts %}
  {% include "postslist-archive.njk" %}

</div>
