---
layout: base.njk
title: Updates
navtitle: Updates
permalink: /updates/
tags:
  - nav
order: 4
templateClass:
---

{% set heading = title %}
{% include "../_includes/header.njk" %}

<div class="container my-10 max-w-5xl">
  {% set postslist = collections.myPosts | limit(3) %}
  {% include "postslist.njk" %}
  
  <div class="text-center">
    <a class="text-xl" href="/updates/archive/">See all updates&thinsp;&#8594;</a>
  </div>

</div>
