---
layout: base.njk
templateClass: 
---

{% set heading = category.title %}
{% include "../_includes/header.njk" %}

<div class="container max-w-5xl my-24">
  {% if category.description %}
    <div class="mb-24">
      {{ category.description | markdownify | safe }}
    </div>
  {% endif %}

  {% set postslist = category.posts %}
  {% include "postslist-archive.njk" %}
</div>
