---
layout: base.njk
title: About Holly
navtitle: About
permalink: /about/
tags:
  - nav
order: 1
templateClass: mt-10 mb-10
---

<div class="container mx-auto px-8">
  <h1>About Holly</h1>

  <div class="text-3xl">
    {{authors[0].bio | markdownify | safe }}
  </div>

  {% if authors[0].image.asset %}
  </div>

  <div class="w-full h-96 my-20 bg-no-repeat bg-cover bg-center" style="background-image: url('{% imageUrlFor authors[0].image.asset, 1600 %}')"></div>

  <div class="container mx-auto px-8">
  {% endif %}

  <section>
    <h2>Key Experience</h2>
    {{authors[0].key_experience | markdownify | safe }}
  </section>

  <section>
    <h2>Training and Support</h2>
    {{authors[0].training_support | markdownify | safe }}
  </section>

  <section>
    <h2>Courses and Institutions</h2>
    {{authors[0].courses_institutions | markdownify | safe }}
  </section>

  <section class="mt-20 pt-48 pb-16 overflow-hidden">
    <blockquote class="relative before:content-['“'] before:absolute before:top-full before:left-32 before:text-[100vh] before:leading-[0] before:font-serif before:opacity-20">
      <p class="text-6xl leading-tight max-w-screen-lg mx-auto">Lorem ipsum <span class="text-brand-secondary">dolor sit amet</span>, consecteur adipiscing elit, ut lacullis <span class="text-brand-secondary">justo laoreet arcu</span>.</p>
      <cite class="block text-3xl text-right mt-8">&mdash; Quote source</cite>
    </blockquote>
    
  </section>
</div>