---
layout: category
tags:
  - myCategories
pagination:
  alias: category
  data: categories
  size: 1
  addAllPagesToCollections: true
permalink: updates/{{ category.slug.current | slug }}/index.html
---
