---
layout: category
tags:
  - myCategories
pagination:
  alias: category
  data: categories
  size: 1
  addAllPagesToCollections: true
permalink: "{% if category.posts.length > 0 %}updates{% else %}projects{% endif %}/{{ category.slug.current | slug }}/index.html"
---
