---
layout: base.njk
title: Engagement
navtitle: Engagement
permalink: /engagement/
tags:
  - nav
order: 3
templateClass:
---

{% set heading = title %}
{% include "./_includes/header.njk" %}

<div class="container my-24 max-w-4xl min-h-[50vh]">
  {% if engagement.body %}
    {{ engagement.body | markdownify | safe }}
  {% endif %}
</div>
