---
layout: base.njk
navtitle: Home
templateClass: mb-6
---

<div class="container mx-auto px-8">
    <div class="flex">
        <div class="basis-8/12">
            <div class="relative">
                {% image {relativeSrc: "/images/tensile-strength.jpg", imgClassName: "rounded-tl-[50%] rounded-tr-[50%]"} %}
                <div class="absolute aspect-square bottom-0 left-0 bg-brand-secondary text-black rounded-full">
                    <span class="absolute">Let's talk</span>
                    <span class="text-6xl">&#8594;</span>
                    <span class="absolute">Let's talk</span>
                </div>
            </div>
        </div>
        <div class="basis-4/12">
            <h1 class="text-left -ml-72 after:content-none">Holly Gallagher</h1>
            <span class="block text-right text-5xl leading-[1.15] bar"><span class="text-brand-secondary font-normal">theatre</span> <br/>maker <br/>director <br/>producer <br/>facilitator</span>
        </div>
    </div>
</div>