---
layout: base.njk
navtitle: Home
templateClass: mt-24 mb-32
---

<div class="container mx-auto px-16">
    <div class="flex">
        <div class="basis-8/12">
            <div class="relative h-full w-8/12 mb-6">
                {% svg "star", "absolute w-20 h-20 top-4 text-brand-secondary" %}
                {% svg "star", "absolute w-10 h-10 top-20 left-12 text-white" %}
                {% svg "squiggle", "absolute h-14 rotate-[50deg] top-1/2 -left-40 text-brand-secondary" %}
                {% svg "blob", "absolute h-4 -left-36 top-96 rotate-6 text-white" %}
                <a class="group" href="{{metadata.featuredLink or '/projects/'}}">
                    <div class="absolute aspect-square -top-8 left-2/3 p-3 bg-brand-secondary text-black outline-1 outline-offset-4 outline-brand-secondary outline-double rounded-full animate-heartbeat">
                        {% svg "star", "w-10 h-10 text-white" %}
                        <svg viewBox="0 0 100 100" style="width: 175%; height: 175%; top: -37.5%; left: -37.5%" class="absolute -z-10 scale-0 -rotate-12 overflow-visible transition-transform duration-300 group-hover:scale-100">
                            <defs>
                                <path id="circle" d="M 50, 50 m -37, 0 a 37,37 0 1,1 74,0 a 37,37 0 1,1 -74,0" />
                            </defs>
                            <text class="uppercase text-md fill-brand-secondary" letter-spacing="0">
                                <textPath xlink:href="#circle">
                                &nbsp;&nbsp;Featured work
                                </textPath>
                            </text>
                        </svg>
                    </div>
                </a>
                <div class="h-full aspect-[1/1.15] rounded-tl-[50%] rounded-tr-[50%] rounded-bl-lg rounded-br-lg bg-no-repeat bg-cover bg-center" style="background-image: url('{% croppedUrlFor metadata.heroImage, 1000 %}')"></div>
                <a href="/connect/">
                    <div class="absolute aspect-square -bottom-8 -left-8 p-14 bg-brand-secondary text-black outline-1 outline-offset-4 outline-brand-secondary outline-double rounded-full">
                        <svg viewBox="0 0 100 100" style="width: 90%; height: 90%; top: 5%; left: 5%" class="absolute animate-spin-slow play hover:pause">
                            <defs>
                                <path id="circle"
                                d="
                                    M 50, 50
                                    m -37, 0
                                    a 37,37 0 1,1 74,0
                                    a 37,37 0 1,1 -74,0"/>
                            </defs>
                            <text class="text-xs uppercase" letter-spacing="0.5">
                                <textPath xlink:href="#circle">
                                Let's talk&nbsp;&bullet;&nbsp;Let's talk&nbsp;&bullet;&nbsp;Let's talk&nbsp;&bullet;&nbsp;
                                </textPath>
                            </text>
                        </svg>
                        <span class="text-7xl align-super block h-0 leading-[0.75]">&#8594;</span>
                    </div>
                </a>
                {% svg "bolt", "absolute h-24 -right-72 bottom-28 rotate-90 text-brand-secondary" %}
                {% svg "blob", "absolute h-8 -right-72 bottom-20 text-white" %}
                {% svg "star", "absolute w-16 h-16 -right-56 bottom-6 text-brand-secondary" %}
            </div>
        </div>
        <div class="basis-4/12 z-10">
            <h1 class="text-[15rem] mb-0 text-left -ml-80 leading-none after:content-none">Holly Gallagher</h1>
            <span class="block text-right text-3xl font-display -ml-80 mb-10 text-brand-secondary"><em class="font-bold">(she/her)</em></span>
            <span class="block text-right text-5xl leading-[1.15] pb-8 bar"><span class="text-brand-secondary">theatre</span> <br/>maker <br/>director <br/>producer <br/>facilitator</span>
        </div>
    </div>
</div>