---
layout: base.njk
navtitle: News
permalink: /news/
tags:
  - nav
order: 3
---

<div class="container mx-auto px-8">
  <h1>News</h1>

  {% set postslist = collections.myPosts %} {% include "postslist.njk" %}
</div>
