---
layout: base.njk
title: Projects
navtitle: Projects
permalink: /projects/
tags:
  - nav
order: 2
templateClass:
---

{% set heading = title %}
{% include "./_includes/header.njk" %}

<div class="container my-24">
  {% set projectslist = collections.myProjects %}
  {% include "projectslist.njk" %}
</div>
