---
layout: base.njk
navtitle: Workshops
permalink: /workshops/
tags:
  - nav
order: 3
templateClass: mt-10 mb-10
---

<div class="container mx-auto px-8">
  <h1>Workshops</h1>
  {{ workshops.body | markdownify | safe }}
</div>
